{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_modify %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/database_admin.js' %}"></script>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/database_admin.css' %}" />
{% endblock %}

{% block field_sets %}
<input type="hidden" name="_continue" value="1" />
{% for fieldset in adminform %}
    <fieldset class="module aligned {{ fieldset.classes }}">
    {% for line in fieldset %}
        {% for field in line %}
            {% include "admin/includes/field.html" %}
        {% endfor %}
    {% endfor %}
    </fieldset>
{% endfor %}
<script>

  django.jQuery(document).ready(function($) {


    $("#choose_plan_new_db").live("click", function(event){
        var plan_id = $(event.target).data().planId;
        $("#id_create_database_btn_modal").attr("data-plan-id", plan_id);
        $("#plan-type").val(plan_id);
    });
    $chooseButton = $("#choose_plan_new_db");
    

  });
</script>

{% include "admin/confirmation_modal.html" with modal_id="create_database_modal" confirmation_message="Are you sure you want to create a database with these settings?" box_title="Adding Database" button_type="submit" id_optional="id=id_create_database_btn_modal" %}

{% endblock %}

{% load dbaas_tags %}
{% block submit_buttons_bottom %}
    {% submit_row_extended 0  button_submit_name="Create Database"  id='create_database_modal' %}
{% endblock %}

